#main {
  position: fixed;
  top: 0;
  left: 0;
  width: 796px;
  height: 376px;
  background-color: #00A6DC;
  color: #EEE;
  font-family: sans-serif;
  padding: 0px;
  border: 2px solid #2BB23E;
}

header {
  text-align: center;
  border-bottom: 2px solid #CCC;
  margin-top: 10px;
}

h1 {
  margin: 0 auto;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 70px;
  display: inline-block;
}

button {
  float: right;
  margin-right: 30px;
  margin-top: 20px;
  padding: 20px;
  font-size: 28px;
  border-radius: 10px;
  background-color: #2BB23E;
}

.twitter-headline {
  text-align: center;
  margin-top: 100px;
  font-size: 60px;
}
