#main {
  position: fixed;
  top: 0;
  left: 0;
  width: 800px;
  height: 380px;
  background-color: #00A6DC;
  padding: 0px;
  border: 2px solid #2BB23E;
  color: #EEE;
}

#main p {
	padding: 5px;
	margin: 5px;
}

#main h1 {
	padding: 5px;
	margin: 5px;
}

header {
  text-align: center;
  border-bottom: 2px solid #000;
}

h1 {
  width: 219px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 70px;
  display: inline-block;
}

button {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
  font-size: 28px;
  border-radius: 10px;
}
