<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>moTrends</title>
  <meta name="description" content="moTrends">

  <link rel="stylesheet" href="../css/app.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
	<div id="main">
    <header>
      <h1>moTrends</h1>
      <button>Close</button>
    </header>
		<!-- All visible stuff goes here -->
	</div>
  <script src="../js/app.js"></script>
</body>
</html>
